[Unit]
Description = Baby Monitor Cry Client
After = systemd-networkd-wait-online.service

[Service]
WorkingDirectory = /usr/local/src/baby-cam/camera/cry-client/src
ExecStart = yarn start
Restart = always
RestartSec = 10
StartLimitBurst = 10
Type = simple
EnvironmentFile=/etc/default/babycam-cry-client

[Install]
WantedBy = multi-user.target
