body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  height: 100vh;
}

@media (min-width: 768px) {
  .video-wrapper {
    height: 100vh;
  }
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.meters {
  min-width: 170px;
}

.card-icon {
  float: right;
}

.card-icon i {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.3;
}

.progress-bar.meter-babycry {
  transition: width .5s ease;
  transition-duration: 0.5s;
}
